/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
  text-decoration: none;
}

*{
  box-sizing: border-box;
}

/* ჩემი კოდი */
html{
	scroll-behavior: smooth;
}

body{
	/* background: rgb(243,149,131);
	background: -moz-linear-gradient(0deg, rgba(243,149,131,1) 0%, rgba(252,150,129,0.8) 40%, rgba(47,164,155,0.8) 65%, rgba(70,131,149,0.8) 100%);
	background: -webkit-linear-gradient(0deg, rgba(243,149,131,1) 0%, rgba(252,150,129,0.8) 40%, rgba(47,164,155,0.8) 65%, rgba(70,131,149,0.8) 100%);
	background: linear-gradient(0deg, rgba(243,149,131,1) 0%, rgba(252,150,129,0.8) 40%, rgba(47,164,155,0.8) 65%, rgba(70,131,149,0.8) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f39583",endColorstr="#468395",GradientType=1); */
	background: linear-gradient(to top, #FFEFE4, #E4FDFF);
	height: 100vh;
}

/* ჰედერი */
header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px 0px;
}

/* ლოგო */
.headerimage{
	height: 90px;
	left: 10%;
	transform: scale(1.1);
}

.headerimage:hover{
	transform: scale(1.2);
	transition: 1s;
}


/* მენიუ */
.menu{
	display: flex;
}
/* მენიუ1 */
#ul1{
  display: flex;
	margin-right: 20px;
	/* transform: translate(-50%,-50%); */
}
#ul1 #li1{
  list-style: none;
}

#ul1 #li1 a{
  position: relative;
  display: block;
	text-align: center;
  margin: 0 25px;
	font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  color: #262626;
  font-weight: 600;
	transition: .5s;
	padding: 5px 10px;

}
#ul1 #li1 a:hover{
	color: #fff;
	background: #e91e63
}

#ul1 #li1 a::before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 12px;
  height: 12px;
	border: 3px solid #e91e63;
	border-width: 0 0 3px 3px;
  opacity: 0;
  transition: .5s;
}

#ul1 #li1 a:hover::before{
	bottom: -10px;
	left: -10px;
	opacity: 1;
}
#ul1 #li1 a::after{
	content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 12px;
  height: 12px;
	border: 3px solid #e91e63;
	border-width: 3px 3px 0 0;
  opacity: 0;
  transition: .5s;
}

#ul1 #li1 a:hover::after{
	top: -10px;
  right: -10px;
	opacity: 1;
}



/* სოციალური აიქონები */
.circle{
  position: relative;
  /* top: 50%;
  left: 50%; */
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.circle .share{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  line-height: 30px;
  color: #000;
  background: #e7fcfd;
  border-radius: 50%;
  z-index: 11;
  box-shadow: 0 0 0 2px #e7fcfd;
}


.circle #ul2{
  position: absolute;
  top: -50%;
  left: -50%;
  margin: 0;
  padding: 0;
  width: 90px;
  height: 90px;
  background: #fff;
  border-radius: 50%;
  transition: .5s;
  box-shadow: 0 0 0 2px #e7fcfd, 0 0 0 4px #fff;
  transition: 1s;
  transform: scale(.3) rotate(-180deg);
  z-index: -1;
}
.fa-share-alt:before {
    content: "\f1e0";
    margin-left: 50%;
}

.circle:hover #ul2{
  transform: scale(1) rotate(0deg);
  box-shadow: 0 0 0 2px #e7fcfd, 0 0 0 4px #fff, 0 5px 30px rgba(0,0,0,1);
}

.circle #ul2 #li2{
  position: absolute;
  list-style: none;
}

.circle #ul2 #li2:nth-child(1){
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.circle #ul2 #li2:nth-child(2){
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
}
.circle #ul2 #li2:nth-child(3){
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
.circle #ul2 #li2:nth-child(4){
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.circle #ul2 #li2 a .fa{
  transition: 0s;
  color: #112833;
}

.circle #ul2 #li2:hover a .fa{
  color: red;
  transform: scale(1.1);
}


.circle #ul2::before{
  content: '';
  position: relative;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background: #112533;
  transform: rotate(45deg);
}

.circle #ul2::after{
  content: '';
  position: relative;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background: #112533;
  transform: rotate(-45deg);
}





/* ბოდი */
.headertext{
	display: flex;
	justify-content: center;
	font-size: 24px;
	word-spacing: 10px;
	letter-spacing: 2px;
	font-family: cursive;
	font-style: italic;
	color: cornflowerblue
}


/* პირველი სექცია */
.content{
  display: flex;
  justify-content: space-around;
}
.content1 .content2 .content3{

}
#Layer_1, #Layer_2, #Layer_3{
  height: calc(100vh - 95px);
}
.back{
	display: flex;
	position: absolute;
	justify-content: space-between;
	justify-content: center;
	z-index: -1;
	top: 40%;
}
.back1 img{
	width: 420px;
	height: 350px;
	margin-bottom: 20px;
	z-index: -1;
	opacity: 1;
}

.content1 a svg:hover{
	transform: scale(1.1);
	transition: 0.5s;
}


.back2 img{
	width: 450px;
	height: 280px;
	z-index: -1;
}

.content2 a svg:hover{
	transform: scale(1.1);
	transition: 0.5s;
}

.back3 img{
	width: 400px;
	height: 300px;
	z-index: -1;
}

.content3 a svg:hover{
	transform: scale(1.1);
	transition: 0.5s;
}






/* მეორე სექცია */
#up1_1{
	display: none;
	background: linear-gradient(to bottom, #FFEFE4, #E4FDFF);
	margin-top: -5px;
}
#up1_2{
	display: none;
	background: linear-gradient(to bottom, #FFEFE4, #E4FDFF);
	margin-top: -5px;
}
#up1_3{
	display: none;
	background: linear-gradient(to bottom, #FFEFE4, #E4FDFF);
	margin-top: -5px;
}

/* პერსონაჟები */
.layer2{
	width: 100%;
	height: 100vh;
}

.block1{
	display: flex;
	justify-content: center;
}
svg#Layer_12 {
  height: 100vh;
}
/* გიფები */
.block1-1{
	display: flex;
	justify-content: center;
	align-items: center;
}
.block1-1{
	display: none;
}
.block1-1 img{
	height: 100vh;
}

.block1-2{
	display: flex;
	justify-content: center;
}
.block1-2{
	display: none;
}
.block1-2 img{
	height: 100vh;
}
/* გიფები-დ */


.block2{
	display: flex;
	justify-content: center;
}
svg#Layer_13 {
  height: 100vh;
}
.block3{
	display: flex;
	justify-content: center;
}
svg#Layer_14 {
  height: 100vh;
}

/* პირველი არჩევანი */
.slide1{
	display: flex;
	align-items: center;
	justify-content: center;
}

.choose1{
	position: absolute;
	left: 25%;
	display: flex;
	align-items: center;
}
.slide1 .choose1 button{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.slide1 .choose2 button{
	left: 73%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}
.slide1 .choose1 button img{
	width: 200px;
	height: 200px;
	position: absolute;
}

.slide1 .choose2 button img{
	width: 200px;
	height: 200px;
	position: absolute;
}

/* არჩევანი მეორე */
.slide2{
	display: flex;
	align-items: center;
	justify-content: center;
}

.choose1{
	position: absolute;
	left: 25%;
	display: flex;
	align-items: center;
}
.slide2 .choose1 a{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.slide2 .choose2 a{
	left: 73%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}
.slide2 .choose1 a img{
	width: 200px;
	height: 200px;
	position: absolute;
}

.slide2 .choose2 a img{
	width: 200px;
	height: 200px;
	position: absolute;
}




/* არჩევანები მესამე */
.slide3{
	display: flex;
	align-items: center;
	justify-content: center;
}

.choose1{
	position: absolute;
	left: 25%;
	display: flex;
	align-items: center;
}
.slide3 .choose1 a{
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.slide3 .choose2 a{
	left: 73%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}
.slide3 .choose1 a img{
	width: 200px;
	height: 200px;
	position: absolute;
}

.slide3 .choose2 a img{
	width: 200px;
	height: 200px;
	position: absolute;
}


/* ტექსტების სტილი */
#quoteDisplay1{
	display: flex;
	position: absolute;
	width: 250px;
	height: 100px;
	align-items: center;
	top: 70px;
	left: -80px;
	color: #000000;
	font-family: cursive
}

#quoteDisplay2{
	display: flex;
	position: absolute;
	width: 250px;
	height: 100px;
	align-items: center;
	top: 166%;
	left: 66%;
	color: #000000;
	font-family: cursive
}
